body{
    height: 100vh;
    width: 100vw;
    background-color: #f7f6f3;
    font-family: 'Inter', sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sleeping-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
